version: 2

models:
  - name: stg_taco__district_applications
    description: |
      Purpose: Raw district application data from the taco database with column typing and renaming.  
      Granularity: One row per district-application pair, defined by `district_application_id`.  
      Filters: None
    columns:
      # testing at source for unique district_application_id
      - name: district_application_id
      # testing at source for non-null district_id, application_id
      # testing at source for unique district_id x application_id combination
      - name: district_id
      - name: application_id
      - name: url
      - name: api_prefix
      - name: is_enabled
      - name: abc_group_id
      - name: created_at_utc
